<template>
  <div>
    <v-container class=" pa-5" fluid rounded>
      <v-row class="mt-5" :align="center">
        <v-select
          v-model="deviceType"
          menu-props="auto"
          label="Device Type"
          hide-details
          single-line
          class="pa-2"
          prepend-icon=""
          outlined
          dense
        ></v-select>
        <v-select
          v-model="exposureType"
          menu-props="auto"
          :items="$store.state.types"
          label="Exposure Type"
          hide-details
          single-line
          class="pa-2 filters"
          prepend-icon=""
          outlined
          dense
          
          item-color="primary"
        ></v-select>

        <v-select
          menu-props="auto"
          label="Free Corrosion Alloys"
          hide-details
          single-line
          class="pa-2"
          prepend-icon=""
          outlined
          dense
        ></v-select>
        <v-select
          menu-props="auto"
          label="Galvanic Corrosion Alloys"
          hide-details
          single-line
          class="pa-2"
          prepend-icon=""
          outlined
          dense
        ></v-select>
      </v-row>
      <v-row :align="start">
        <v-select
          v-model="coatings"
          menu-props="auto"
          label="Coatings Applied"
          hide-details
          single-line
          class="pa-2"
          prepend-icon=""
          outlined
          dense
        ></v-select>
        <v-select
          v-model="dataChannel1"
          menu-props="auto"
          label="Channel 1"
          hide-details
          single-line
          class="pa-2"
          prepend-icon=""
          outlined
          dense
        ></v-select>
        <v-select
          v-model="dataChannel2"
          menu-props="auto"
          label="Channel 2"
          hide-details
          single-line
          class="pa-2 "
          prepend-icon=""
          outlined
          dense
          
          
        ></v-select>
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="dates"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-combobox
              v-model="dates"
              multiple
              chips
              small-chips
              label="Start - End Date"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-combobox>
          </template>
          <v-date-picker v-model="dates" multiple no-title scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="menu = false"> Cancel </v-btn>
            <v-btn text color="primary" @click="$refs.menu.save(dates)">
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      deviceType: "",
      exposureType: "",
      checkbox: true,
      dataChannel: "",
      dataChanne2: "",
      dates: [],
      menu: false,
    };
  },
};
</script>

<style >


.filters{
    border-color: red important;
}
</style>
