<template>
  <v-container class="grey darken-3 mb-8" fluid>
    <v-row class="mt-5" no-gutters>
      <v-col cols="2" class="filters">
        <v-card max-width="344" class="blue-grey lighten-5" outlined>
          <v-card-title>Filters</v-card-title>
          <v-select
            v-model="deviceType"
            :items="$store.state.deviceTypes"
            menu-props="auto"
            label="Device Type"
            hide-details
            class="pa-2 text-caption"
            prepend-icon=""
            outlined
            dense
          ></v-select>
          <v-select
            v-model="exposureType"
            menu-props="auto"
            :items="$store.state.types"
            label="Exposure Type"
            hide-details
            class="pa-2"
            prepend-icon=""
            outlined
            dense
            item-color="primary"
          >
          </v-select>
          <lab-exposure-type
            v-if="$store.state.laboratory"
            :datafromlab="exposureState"
            :noexposuretypevalidation="noExposureTypeValidation"
            @passLabExposureToParent="exposureOnSubmit"
          ></lab-exposure-type>
          <outdoor-exposure-type
            v-if="$store.state.outdoor"
            :dataoutdoor="exposureState"
            :noexposuretypevalidation="noExposureTypeValidation"
            @passOutdoorExposureToParent="exposureOnSubmit"
          ></outdoor-exposure-type>
          <on-asset-exposure-type
            v-if="$store.state.onAsset"
            :dataonasset="exposureState"
            :noexposuretypevalidation="noExposureTypeValidation"
            @passOnAssetExposureToParent="exposureOnSubmit"
          ></on-asset-exposure-type>
          <v-select
            v-model="freeCorrosionAlloy"
            :items="$store.state.freeCorrosion"
            menu-props="auto"
            label="Free Corrosion Alloys"
            hide-details
            class="pa-2"
            prepend-icon=""
            outlined
            dense
          ></v-select>
          <v-select
            v-model="galvanicCorrosionAlloy"
            :items="$store.state.galvanicCorrosion"
            menu-props="auto"
            label="Galvanic Corrosion Alloys"
            hide-details
            class="pa-2"
            prepend-icon=""
            outlined
            dense
          ></v-select>
          <v-card class="coatingsBox d-flex justify-center ml-2 mt-1">
            <v-switch
              v-model="selectCoatings"
              @change="coatingsSwitch($event)"
              inset
              :label="`Coatings`"
              class="coatingsSwitch"
            ></v-switch>
          </v-card>

          <v-row class="mt-3">
            <v-col cols="12">
              <v-btn
                color="success"
                class="mb-3 mr-3 white--text dataSearchButton"
                @click="searchForSensorData"
              >
                Search
                <v-icon right dark> mdi-cloud-search-outline </v-icon>
              </v-btn>
              <v-btn
                color="primary"
                class="mb-3 mr-3 white--text dataSearchButton"
                @click="clearInputs"
              >
                Clear
                <v-icon right dark> mdi-refresh </v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
        <v-card max-width="344" class="mr-2 mt-2" outlined>
          <v-list dense>
            <v-list-item-group color="primary">
              <v-list-item>
                <v-list-item-icon>
                   <v-icon>mdi-circle-medium</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <span class="response-array-length"
                    >{{ this.$store.state.responeArray.length }}&nbsp;</span
                  >
                  Devices Found
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-circle-medium</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <span class="response-array-length"
                    >{{ this.$store.state.responeChannelArray.length }}&nbsp;</span
                  >
                  Displayed On Graph
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-col>

      <v-col cols="10">
        <v-container fluid class="mb-3 mt-1 topBorderBox blue-grey lighten-4">
          <div>Plot Options</div>
          <v-row>
            <v-col cols="2">
              <v-card class="mr-2 mt-2 selectionList" outlined>
                <v-card-title class="text-overline">
                  Linear/Log CB
                </v-card-title>
              </v-card>
            </v-col>
            <v-col cols="4">
              <v-card class="mr-2 mt-2 selectionList" outlined>
                <v-card-title class="text-overline">
                  Drop-down for legend label
                </v-card-title>
              </v-card>
            </v-col>
            <v-col cols="6">
              <v-card class="mr-2 mt-2 selectionList" outlined>
                <v-card-title class="text-overline">
                  Leave space for additional functionality
                </v-card-title>
              </v-card>
            </v-col>
          </v-row>
        </v-container>

        <div>
          <Plotly
            :data="$store.state.graphData"
            :layout="this.layout"
            :display-mode-bar="true"
            class="graph"
          >
          </Plotly>
        </div>
        <v-row justify="start" class="mt-8 lowBorder">
          <v-col cols="6" md="5">
            <v-sheet elevation="10" rounded class="py-4 px-1">
              <div class="text-center text-caption">Device Data Selections</div>
              <v-row>
                <v-col cols="6">
                  <v-select
                    v-model="dataChannel1"
                    menu-props="auto"
                    :items="$store.state.sensorDataFilters"
                    @change="getChannelOneSelection($event)"
                    label="Channel 1"
                    class="pa-2"
                    item-color="success"
                    append-icon="mdi-database-search-outline"
                    dense
                    full-width
                  ></v-select>
                  <v-select
                    v-model="dataChannel2"
                    :items="$store.state.sensorDataFilters"
                    @change="getChannelTwoSelection($event)"
                    :disabled="channelOneIsPresent"
                    menu-props="auto"
                    label="Channel 2"
                    hide-details
                    class="pa-2"
                    item-color="success"
                    append-icon="mdi-database-search-outline"
                    dense
                    full-width
                  ></v-select>
                </v-col>
                <v-col cols="6">
                  <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="dates"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-combobox
                        v-model="dates"
                        multiple
                        chips
                        small-chips
                        label="Start - End Date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-combobox>
                    </template>
                    <v-date-picker v-model="dates" multiple range scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu.save(dates)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>
            </v-sheet>
          </v-col>
          <v-col cols="6" md="5">
            <v-sheet elevation="10" rounded class="py-4 px-1">
              <div class="text-center text-caption">
                Device Serial Number - (Selected Devices) {{ $store.state.deviceOptions.length }}
              </div>
              <v-chip-group multiple   active-class="primary--text">
                <v-chip :disabled="dataSelectionsArePresent"
                  v-for="item in $store.state.responeArray"
                  :key="item.key"
                  @click="countDevices(item)"
                >
                  {{ item.DeviceSerialNumber }}
                </v-chip>
              </v-chip-group>
            </v-sheet>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <select-coatings
      v-if="selectCoatingsValues"
      @close="selectCoatingsValues = false"
    >
    </select-coatings>
  </v-container>
</template>

<script>
import { Plotly } from "vue-plotly";

export default {
  components: {
    Plotly,
    "select-coatings":
      require("@/components/shared/SensorData/SelectCoatingValuesDialog.vue")
        .default,
    "lab-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/LabExposureType.vue")
        .default,
    "outdoor-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/OutdoorExposureType.vue")
        .default,
    "on-asset-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/OnAssetExposureType.vue")
        .default,
  },
  data() {
    return {
      deviceType: "",
      exposureType: "",
      freeCorrosionAlloy: "",
      galvanicCorrosionAlloy: "",
      checkbox: true,
      selectCoatings: null,
      dataChannel1: "",
      dataChannel2: "",
      dates: [],
      menu: false,
      graphData: [],
      layout: {},
      selectedDataSource: "",
      dataSelections: [],
      exposureInputs: {},
      selectCoatingsValues: false,
      dataChannelCheck: null,
      deviceDataSelection: null,
      exposureState: false,
      noExposureTypeValidation: false,
      getDataOnAsset: "",
      count: 0,
    };
  },
  async mounted() {
    await this.$store.dispatch("getCorrosionValues");
    this.$store.state.tableDataOptions = [];

  },
  watch: {
    exposureType: function () {
      this.$store.commit("selectExposureType", this.exposureType);
      this.noExposureTypeValidation = true;
    },
    getDataOnAsset: function () {
      alert("testing");
    },
  },
  computed: {
    channelOneIsPresent() {
      if (this.dataChannel1 === "") {
        return !this.dataChannelCheck;
      } else {
        this.dataChannelCheck = false;
      }
    },
    dataSelectionsArePresent() {
       if (this.dataChannel1 === "" || this.dates.length <= 1) {
          //remain false
           return !this.deviceDataSelection;
       }else{
         //switch true and enable Device Serial Number selection
         this.deviceDataSelection = false
       }
    },
  },
  methods: {
    async countDevices(e) {
      
      // await this.checkResponseChannelArray(e);

      let id = e.key; //this is the 

      let startDate = "";
      let endDate = "";
      if (this.dates[0] > this.dates[1]) {
        startDate = this.dates[1];
        endDate = this.dates[0];
      } else {
        startDate = this.dates[0];
        endDate = this.dates[1];
      }

      if (this.$store.state.deviceOptions.indexOf(id) >= 0) {
        for (var i = 0; i < this.$store.state.deviceOptions.length; i++) {
          //this will remove the device serial number from the array. 
          if (this.$store.state.deviceOptions[i] === id) {
            this.$store.state.deviceOptions.splice(i, 1);
          }
        }
       
        console.log(this.$store.state.deviceOptions.length);
      }
      
      else {
        this.$store.state.deviceOptions.push(id);

        //from here is where we will pass the sensor Id and get data back to display
        let searchPayload = {
          Id: e.CollectionId,
          DeviceSerialNumber: e.DeviceSerialNumber,
          SensorDataChannelName: this.dataChannel1,
          SensorDataChannelName2: this.dataChannel2,
          startDate: startDate,
          endDate: endDate,
        };
         await this.$store.dispatch("getSensorChannelData", searchPayload);
      }
    },

    // async checkResponseChannelArray(e){
    //   console.log(this.$store.state.responeChannelArray)
    //   const channelArray = this.$store.state.responeChannelArray;
    //   channelArray.forEach(channelArray => {
    //     for(let key in channelArray){
    //       console.log(`${key}: ${channelArray[key]}`)
    //     }


    // })
    // },

    coatingsSwitch(e) {
      if (e) {
        this.selectCoatingsValues = true;
      }
    },
    //call the getGraphData method
    async searchForSensorData() {
      this.dates = this.dates.sort(); // ensures the dates selected are in a sorted order
      this.exposureState = true;

      setTimeout(() => {
        this.sendForSensorData();
      }, 400);

      // await this.getGraphData();
    },
    async sendForSensorData() {

      let sensorType = "";
      if (this.deviceType === "LS") sensorType = "acuity_ls";
      if (this.deviceType === "DG") sensorType = "acuity_dg";
      if (this.deviceType === "CR") sensorType = "acuity_cr";

      let ex = this.exposureInputs;

      let searchPayload = {
        SensorType: sensorType,
        ExposureInputs: this.exposureInputs,
        FreeCorrosionAlloy: this.freeCorrosionAlloy,
        GalvanicCorrosionAlloy: this.galvanicCorrosionAlloy,
      };
      // let searchPayload = {
      //   SensorType: sensorType,
      //   ExposureType: ex.ExposureType,
      //   StandardTestMethod: ex.StandardTestMethod,
      //   OrganizationStandardNumber: ex.OrganizationStandardNumber,
      //   ExposureLocation: ex.ExposureLocation,
      //   ShelteredOrUnsheltered: ex.ShelteredOrUnsheltered,
      //   AssetBaseLocation: ex.AssetBaseLocation,
      //   DevicePosition: ex.DevicePosition,
      //   OnAirCraft: ex.OnAirCraft,
      //   AircraftPlatform: ex.AircraftPlatform,
      //   TailNumber: ex.TailNumber,
      //   AssetIdentifier: ex.AssetIdentifier,
      //   FreeCorrosionAlloy: this.freeCorrosionAlloy,
      //   GalvanicCorrosionAlloy: this.galvanicCorrosionAlloy,
      // };

      await this.$store.dispatch("getSensorData", searchPayload);
    },

    async exposureOnSubmit(input) {
      if (this.exposureType === "Laboratory") {
        if (input.isStandard) {
          this.exposureInputs = {
            ExposureType: this.exposureType,
            StandardTestMethod: input.isStandard,
            OrganizationStandardNumber: input.standardNumber,
          };
          console.log(this.exposureInputs);
        } else {
          this.exposureInputs = {
            ExposureType: this.exposureType,
            StandardTestMethod: input.isStandard,
          };
          console.log(this.exposureInputs);
        }
      } else if (this.exposureType === "Outdoor") {
        this.exposureInputs = {
          ExposureType: this.exposureType,
          ExposureLocation: input.exposureLocation,
          ShelteredOrUnsheltered: input.radioInputs,
        };
      } else if (this.exposureType === "On Asset") {
        if (input.radioInputs === "On Aircraft") {
          this.exposureInputs = {
            ExposureType: this.exposureType,
            AssetBaseLocation: input.assetBaseLocation,
            DevicePosition: input.devicePosition,
            OnAirCraft: "true",
            AircraftPlatform: input.aircraftPlatform,
            TailNumber: input.tailNumber,
          };
        } else {
          this.exposureInputs = {
            ExposureType: this.exposureType,
            AssetBaseLocation: input.assetBaseLocation,
            DevicePosition: input.devicePosition,
            OnAirCraft: "false",
            AssetIdentifier: input.assetId,
          };
        }
      }
    },

    //calls the method that filters and returns the data
    getGraphData() {
      //legend staging -
      //  legend: {
      //     x: 0.75,
      //     y: 6.5,
      //     font: {
      //       family: "sans-serif",
      //       size: 12,
      //       color: "#000",
      //     },
      //     bgcolor: "#E2E2E2",
      //     bordercolor: "#FFFFFF",
      //     borderwidth: 2,
      //   },

      this.graphData = [];

      this.layout = this.graphLayout();
    },
    clearInputs() {
      this.exposureType = "";
      this.$store.state.responeArray = [];
      this.$store.state.deviceOptions = [];
      this.$store.state.responeChannelArray = [];
      this.$store.state.graphData = [];
      this.layout = {};
      
      for (const key in this.exposureInputs) {
        delete this.exposureInputs[key];
      }
      this.exposureState = false;
      this.dataChannel1 = "";
      this.dataChannel2 = "";
      this.freeCorrosionAlloy = "";
      this.galvanicCorrosionAlloy = "";
      this.deviceType = "";
      this.dates = [];
    },
    async getChannelOneSelection(e) {
      this.$store.state.isTwoYaxis = false;
      this.layout = await this.graphLayout(this.$store.state.isTwoYaxis);
    },
    async getChannelTwoSelection(e) {
      this.dataChannel2 = e;
      this.$store.state.isTwoYaxis = true;
      this.layout = await this.graphLayout(this.$store.state.isTwoYaxis);
    },
    graphLayout(twoAxis) {
      let layout = {};

      if (twoAxis) {
        layout = {
          showlegend: true,
          legend: {
            orientation: "h",
            xanchor: "center",
            x: 0.5,
            y: 1.25,
          },

          xaxis: {
            title: "Date/Time (UTC)",
          },
          yaxis: {
            title: this.dataChannel1,
          },
          yaxis2: {
            title: this.dataChannel2,
            overlaying: "y",
            side: "right",
          },
        };
      } else {
        layout = {
          showlegend: true,
          legend: {
            orientation: "h",
            xanchor: "center",
            x: 0.5,
            y: 1.25,
          },

          xaxis: {
            title: "Date/Time (UTC)",
          },
          yaxis: {
            title: this.dataChannel1,
          },
        };
      }

      return layout;
    },
  },
};
</script>

<style lang="sass">
.graph
  height: auto
  box-shadow: 0 0 5px 5px black
  width: 97%
  float: right

.filters
  background-color: #01579B

.dataSearchButton
  float: right

.lowBorder
  border: 1px solid red
  clear: both
  width: 100%
  float: right

.topBorderBox
  border: 1px solid red
  width: 97%
  margin-right: 1.75px
  margin-left: auto

.coatingsBox
  height: auto
  width: 50%
  border: .1em solid black
  border-radius: 5px


.coatingsSwitch
  margin-left: 0 auto
  align: center

.response-array-length
  color: red
</style>
