<template>
  <v-row justify="center">
    <v-dialog :value="true" persistent max-width="400px">
      <v-card>
        <v-card-title>
          <span class="text-h5" 
      
          >Select Coating Values  </span>
        </v-card-title>
        <v-card-text>
          <v-container>
             <coatings
              
                @passCoatingsToParent="onChildKeyUp"
                class=""
              ></coatings>
          </v-container>
      
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$emit('close')">
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="saveCoatingsValues"
           
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
    data() {
        return {}
    },
     methods: {
    saveCoatingsValues() {
   
     
      this.$emit("close");
    },
  },
  components: {
    coatings: require("@/components/shared/FormData/Common/Coatings.vue")
      .default,
  }
}
</script>

<style>

</style>