<template>
  <div>
    <v-autocomplete
      v-model="galvanicCorrosionAlloy_2"
      :items="$store.state.galvanicCorrosion"
      label="Galvanic Corrosion Alloys - 2"
      required
    ></v-autocomplete>
    <v-autocomplete
      v-model="galvanicCorrosionAlloy"
      :items="$store.state.galvanicCorrosion"
      label="Galvanic Corrosion Alloys - 1"
      required
    >
      <v-tooltip slot="prepend" top>
        <template v-slot:activator="{ on }">
          <v-icon
            @click="newGalvanicCorrosionValue"
            v-on="on"
            color="primary"
            dark
          >
            mdi-database-plus
          </v-icon>
        </template>
        <span>Add Galvanic Corrosion Alloy</span>
      </v-tooltip>
    </v-autocomplete>
    <add-new-corrosion
      v-if="addNewCorrosionValue"
      @close="addNewCorrosionValue = false"
      :corrosionType="corrosionType"
    ></add-new-corrosion>
  </div>
</template>

<script>
export default {
  props: ["alloy"],
  data() {
    return {
      //These data components are monitored in the vuex store
      measurements: {},
      galvanicCorrosionAlloy: "",
      galvanicCorrosionAlloy_2: "",
      corrosionType: "",
      addNewCorrosionValue: false,
    };
  },
  methods: {
    newGalvanicCorrosionValue() {
      this.corrosionType = "Galvanic Corrosion";
      this.addNewCorrosionValue = true;
    },
  },
  watch: {
    alloy: function () {
      if (this.alloy) {
        this.measurements = {
          galvanicCorrosionAlloy: this.galvanicCorrosionAlloy,
          galvanicCorrosionAlloy_2: this.galvanicCorrosionAlloy_2,
        };
      }
      this.$emit("passMeasurementsToParent", this.measurements);
    },
  },
  components: {
    "add-new-corrosion":
      require("@/components/shared/FormData/Common/AddNewCorrosionValueDialog.vue")
        .default,
  },
};
</script>

<style></style>
