<template>
  <div>
    <v-autocomplete
      v-model="freeCorrosionAlloy"
      :items="$store.state.freeCorrosion"
      label="Free Corrosion Alloy"
      required
      :error-messages="freeCorrosionAlloyErrors"
      @input="$v.freeCorrosionAlloy.$touch()"
      @blur="$v.freeCorrosionAlloy.$touch()"
      @change="passFreeAlloy"
    >
      <v-tooltip slot="prepend" top  >
         <template v-slot:activator="{ on }">
                <v-icon @click="newFreeCorrosionValue" v-on="on" color="primary" dark>
                  mdi-database-plus
                </v-icon>
              </template>
            <span>Add Free Corrosion Alloy</span>
      </v-tooltip>
    </v-autocomplete>
    <v-autocomplete
      v-model="galvanicCorrosionAlloy"
      :items="$store.state.galvanicCorrosion"
      label="Galvanic Corrosion Alloys"
      required
       :error-messages="galvanicCorrosionAlloyErrors"
      @input="$v.galvanicCorrosionAlloy.$touch()"
      @blur="$v.galvanicCorrosionAlloy.$touch()"
      @change="passFreeAlloy"
    >
      <v-tooltip slot="prepend" top  >
         <template v-slot:activator="{ on }">
                <v-icon @click="newGalvanicCorrosionValue" v-on="on" color="primary" dark>
                  mdi-database-plus
                </v-icon>
              </template>
            <span>Add Galvanic Corrosion Alloy</span>
      </v-tooltip>
    </v-autocomplete>
    <add-new-corrosion
    v-if="addNewCorrosionValue"
    @close="addNewCorrosionValue = false"
    :corrosionType="corrosionType"
    ></add-new-corrosion>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
 
  mixins: [validationMixin],
  props: ["alloy", "passAlloyData"],
  data() {
    return {
      //These data components are monitored in the vuex store
      measurements:{},
      freeCorrosionAlloy: "",
      galvanicCorrosionAlloy: "",
      addNewCorrosionValue: false,
      corrosionType: "",
    };
  },
    validations: {
    freeCorrosionAlloy: { required },
    galvanicCorrosionAlloy: { required },
  },
  watch: {
    passAlloyData: function () {
      this.freeCorrosionAlloy = this.passAlloyData.freeCorrosionAlloy;
      this.galvanicCorrosionAlloy = this.passAlloyData.galvanicCorrosionAlloy;
    },
    alloy: function () {
      if (this.alloy) {
         this.measurements = {
          freeCorrosionAlloy: this.freeCorrosionAlloy,
          galvanicCorrosionAlloy: this.galvanicCorrosionAlloy,
        };
      }
        this.$emit("passMeasurementsToParent", this.measurements);
    },
  },
   computed: {
    freeCorrosionAlloyErrors() {
      const errors = [];
      if (!this.$v.freeCorrosionAlloy.$dirty) return errors;
      !this.$v.freeCorrosionAlloy.required &&
        errors.push("free corrosion alloy must be chosen.");
      return errors;
    },
    galvanicCorrosionAlloyErrors(){
      const errors = [];
      if (!this.$v.galvanicCorrosionAlloy.$dirty) return errors;
      !this.$v.galvanicCorrosionAlloy.required &&
        errors.push("galvanic corrosion alloy must be chosen.");
      return errors;
    }
  },
  methods: {
  passFreeAlloy(){
     this.measurements = {
          freeCorrosionAlloy: this.freeCorrosionAlloy,
          galvanicCorrosionAlloy: this.galvanicCorrosionAlloy,
        };
    this.$emit("passAlloyToParent", this.measurements);
    },
   newFreeCorrosionValue(){
    this.corrosionType = "Free Corrosion";
    this.addNewCorrosionValue = true;
   },
   newGalvanicCorrosionValue(){
     this.corrosionType = "Galvanic Corrosion"
     this.addNewCorrosionValue = true;
   }
  },
  components:{ 
     "add-new-corrosion": require("@/components/shared/FormData/Common/AddNewCorrosionValueDialog.vue")
        .default
  }
};
</script>

<style></style>
