<template>
  <enspect-file-input></enspect-file-input>
</template>

<script>



  export default {
    name: 'Home',

    components: {
        'enspect-file-input': require('@/components/EnspectFileInput.vue').default,
    },
  }
</script>
