<template>
  <data-layout></data-layout>
</template>

<script>

export default {
   data: () => ({
      return:{

      }
  }),
  components: {
    "data-layout":require("@/components/shared/SensorData/DataLayout.vue").default,
  },

}
</script>
    DataLayout

<style lang="sass">

</style>