<template>
  <div >

     <required-inputs :sensor="sensorType"></required-inputs>
</div>
</template>

<script>
export default {
     props:['sensor'],
    data(){
        return{
            sensorType: '',
        }
    },
    created(){
        this.sensorType = this.sensor;
    },
     components: {
    "required-inputs": require("@/components/shared/FormData/Common/RequiredInputs.vue").default,
  },
}
</script>

<style>

</style>