<template>
  <div>
    <v-text-field
      v-model="sensorId"
      label="MSP-2 ID"
      class="font-weight-bold"
      required
      :error-messages="sensorIdErrors"
      @input="$v.sensorId.$touch()"
      @blur="$v.sensorId.$touch()"
    ></v-text-field>
    <ls-sensor-panel
      v-if="$store.state.crSensorAllow"
      :alloy="$store.state.sensorMeasurement"
      @passMeasurementsToParent="onMeasurementSubmit"
      :passAlloyData="peerAlloyData"
      class="mx-auto measurements font-weight-bold"
    ></ls-sensor-panel>
    <!-- COATING QUESTIONS -->

    <div class="d-flex justify-center font-weight-bold">
      <v-radio-group v-model="coatingRadios" required row value="coatingIsTrue">
        <template v-slot:label>
          <div class="caption text-decoration-underline">
            <strong>Coating Applied?</strong>
          </div>
        </template>
        <v-radio label="Yes" value="coatingYes"></v-radio>
        <v-radio label="No" value="coatingNo"></v-radio>
      </v-radio-group>
    </div>

    <!--   -->
    <coatings
      v-if="coating"
      @passCoatingsToParent="onChildKeyUp"
      class="mb-8 measurements"
    ></coatings>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: ["mspsensor", "peerAlloyData"],
  data() {
    return {
      coating: false,
      coatingRadios: null,
      sensorId: "",
      submitStatus: "",
      coatingData: {},
      measurementInputs: {},
      passAlloyData: {},
    };
  },
  validations: {
    sensorId: { required },
    coatingRadios: { required },
  },
  watch: {
    coatingRadios: function () {
      if (this.coatingRadios == "coatingYes") {
        this.coating = !this.coating;
      } else{
        this.coating = false;
         this.coatingData = {
          coatingId: "msp-2_" + this.sensorId,
          coatingApplied: this.coatingRadios,
        };
      } 
    },
    mspsensor: function () {
      if (this.mspsensor) {
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          this.$emit("sensorIsFalse", false);
          console.log(this.submitStatus, this.$v.$model);
        } else {
          this.submitStatus = "MSP-2 OK";
          //collect data here.
          this.$store.state.sensorMeasurement = true;
          setTimeout(() => {
            //we delay slightly to allow the exposure pages to send data to parent, first.
            this.passToParent();
          }, 500);
        }
      }
    },
  },
  methods: {
    passToParent() {
      let mspData = {
        mspId: "msp-2_" + this.sensorId,
        alloyMeasurements: this.measurementInputs,
        coatings: this.coatingData
      };
      this.$emit("mspInputs", mspData);
    },
    onChildKeyUp(coatings) {
      //Coatings is an object coming from the coatings components
      //Fired when coatings check box is checked
      //need to also put the coating id here. device serial number or MSP1 2 or 3
       this.coatingData = {
          coatingId: "msp-2_" + this.sensorId,
          coatingApplied: this.coatingRadios,
          goldCoating: coatings.goldCoating,
          preTreatment: coatings.preTreatment,
          primer: coatings.primer,
          topCoat: coatings.topcoat,
          coatingNotes: coatings.coatingNotes,
        };
    },
    onMeasurementSubmit(measurements) {
      //potentially may emit back to parent here. At this point defining the measurementInputs in this
      //component seemed to work.
      if (measurements.freeCorrosionAlloy === "") {
        measurements.freeCorrosionAlloy = "None";
      }

      if (measurements.galvanicCorrosionAlloy === "") {
        measurements.galvanicCorrosionAlloy = "None";
      }
      this.measurementInputs = measurements;
    },
  },
  computed: {
    coatingErrors() {
      const errors = [];
      if (!this.$v.msp1coatingRadios.$dirty) return errors;
      !this.$v.msp1coatingRadios.required &&
        errors.push("coating selection must be made!");
      return errors;
    },
    sensorIdErrors() {
      const errors = [];
      if (!this.$v.sensorId.$dirty) return errors;
      !this.$v.sensorId.required &&
        errors.push("the MSP1 ID field is required.");
      return errors;
    },
  },
  components: {
    "ls-sensor-panel":
      require("@/components/shared/FormData/SensorMeasurements/LS_SensorPanel.vue")
        .default,
    coatings: require("@/components/shared/FormData/Common/Coatings.vue")
      .default,
  },
};
</script>

<style></style>
