<template>
  <v-container fluid class="containerCr">
    <form>
      <v-card flat elevation="4" max-width="1200" class="mx-auto pa-2">
        <v-card-text>
          <v-row class="pa-3">
            <v-col cols="4">
              <v-text-field
                v-model="name"
                :error-messages="nameErrors"
                :counter="35"
                label="Data Owner"
                required
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="deviceSerialNumber"
                :error-messages="deviceSerialNumberErrors"
                label="Device Serial Number"
                required
                @input="$v.deviceSerialNumber.$touch()"
                @blur="$v.deviceSerialNumber.$touch()"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="pa-3">
              <v-autocomplete
                v-model="distribution"
                :items="$store.state.dataDistribution"
                :error-messages="distributionErrors"
                label="Data Distribution"
                required
                @input="$v.distribution.$touch()"
                @blur="$v.distribution.$touch()"
              ></v-autocomplete>
              <v-select
                v-model="exposureType"
                :items="$store.state.types"
                :error-messages="exposureTypeErrors"
                label="Exposure Type"
                required
                @change="$v.exposureType.$touch()"
                @blur="$v.exposureType.$touch()"
              ></v-select>
              <!-- Start of exposure types. -->
              <lab-exposure-type
                class="my-auto"
                v-if="$store.state.laboratory"
                :lab="exposureState"
                @passLabExposureToParent="exposureOnSubmit"
                @exposureIsFalse="exposureIsFalse"
              ></lab-exposure-type>
              <outdoor-exposure-type
                v-if="$store.state.outdoor"
                :outdoor="exposureState"
                @passOutdoorExposureToParent="exposureOnSubmit"
                @exposureIsFalse="exposureIsFalse"
              ></outdoor-exposure-type>
              <on-asset-exposure-type
                v-if="$store.state.onAsset"
                :onasset="exposureState"
                @passOnAssetExposureToParent="exposureOnSubmit"
                @exposureIsFalse="exposureIsFalse"
              ></on-asset-exposure-type>
            </v-col>
            <v-col cols="4" class="pa-1">
              <v-textarea
                name="exposureNotes"
                label="Exposure Notes"
                auto-grow
                outlined
                rows="4"
                row-height="30"
                background-color="grey lighten-2"
                color="cyan"
                v-model="exposureNotes"
              >
              </v-textarea>
            </v-col>
          </v-row>
          <div class="divider mb-3"></div>
          <v-row>
            <v-col cols="4">
              <v-card
                flat
                elevation="4"
                max-width="400"
                class="mx-auto mt-3 mb-3 pa-4"
                color="#E8E8F3"
              >
                <v-card-title
                  class="
                    justify-center
                    text-caption
                    font-weight-bold font-italic
                    title
                    mb-4
                  "
                >
                  MSP-1
                </v-card-title>
                <v-card-text>
                  <acuity-cr-sensor1
                    :mspsensor="sensorState"
                    @sensorIsFalse="sensorIsFalse"
                    @mspInputs="mspOnSubmit"
                    @passAlloysToPeers="passAlloysToPeers"
                  ></acuity-cr-sensor1>
                </v-card-text>
              </v-card>
            </v-col>

            <v-col cols="4">
              <v-card
                flat
                elevation="4"
                max-width="400"
                class="mx-auto mt-3 mb-3 pa-4"
                color="#E8E8F3"
              >
                <v-card-title
                  class="
                    justify-center
                    text-caption
                    font-weight-bold font-italic
                    title
                    mb-4
                  "
                >
                  MSP-2
                </v-card-title>
                <v-card-text>
                  <acuity-cr-sensor2
                    :mspsensor="sensorState"
                    @mspInputs="msp2OnSubmit"
                    :peerAlloyData="peerAlloyData"
                  ></acuity-cr-sensor2>
                </v-card-text>
              </v-card>
            </v-col>

            <v-col cols="4">
              <v-card
                flat
                elevation="4"
                max-width="400"
                class="mx-auto mt-3 mb-3 pa-4"
                color="#E8E8F3"
              >
                <v-card-title
                  class="
                    justify-center
                    text-caption
                    font-weight-bold font-italic
                    title
                    mb-4
                  "
                >
                  MSP-3
                </v-card-title>
                <v-card-text>
                  <acuity-cr-sensor3
                    :mspsensor="sensorState"
                    :peerAlloyData="peerAlloyData"
                    @mspInputs="msp3OnSubmit"
                  ></acuity-cr-sensor3>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-divider class="ma-3"></v-divider>
          <v-row class="d-flex justify-end mr-5 pa-4">
            <div>
              <v-container class="pb-3 CrsubmitAndClear">
                <v-file-input
                  show-size
                  small-chips
                  multiple
                  label="File input"
                  v-model="file"
                  accept=".csv"
                ></v-file-input>
                <v-btn color="success" class="mr-4" @click="submit">
                  submit
                </v-btn>
                <v-btn color="primary" @click="clear"> clear </v-btn>
              </v-container>
            </div>
          </v-row>
        </v-card-text>
      </v-card>
    </form>
  </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],

  props: ["sensor"],
  data() {
    return {
      name: "",
      exposureType: "",
      deviceSerialNumber: "",
      distribution: "",
      exposureNotes: "",
      exposureState: false,
      sensorState: false,
      exposureInputs: [],
      submitStatus: null,
      file: null,
      mspInputData: {},
      msp2InputData: {},
      msp3InputData: {},
      peerAlloyData: {},
    };
  },
  validations: {
    name: { required, maxLength: maxLength(35) },
    deviceSerialNumber: { required },
    distribution: { required },
    exposureType: { required },
  },
  async mounted(){
   await this.$store.dispatch("getCorrosionValues");
  },

  methods: {
    passAlloysToPeers(data){
      //Meant to pass along MSP 1 corrosion selects only
      //Populates MSP 2 and 3 alloys
      this.peerAlloyData = data
    },
    mspOnSubmit(data) {
      console.log(data);
      this.mspInputData = data;
    },
    msp2OnSubmit(data) {
      this.msp2InputData = data;
    },
    msp3OnSubmit(data) {
      this.msp3InputData = data;
    },
    exposureOnSubmit(input) {
      if (this.exposureType === "Laboratory") {
        if (input.isStandard) {
          this.exposureInputs.push(
            this.exposureType,
            input.isStandard.toString(),
            input.standardNumber
          );
        } else {
          this.exposureInputs.push(
            this.exposureType,
            input.isStandard.toString()
          );
        }
      } else if (this.exposureType === "Outdoor") {
        this.exposureInputs.push(
          this.exposureType,
          input.exposureLocation,
          input.radioInputs
        );
      } else {
        if (input.radioInputs === "On Aircraft") {
          this.exposureInputs.push(
            this.exposureType,
            input.assetBaseLocation,
            input.devicePosition,
            input.radioInputs,
            input.aircraftPlatform,
            input.tailNumber
          );
        } else {
          this.exposureInputs.push(
            this.exposureType,
            input.assetBaseLocation,
            input.devicePosition,
            input.radioInputs,
            input.assetId
          );
        }
      }
    },
    exposureIsFalse(resubmit) {
      this.exposureState = resubmit;
    },
    sensorIsFalse(resubmit) {
      this.sensorState = resubmit;
      console.log("sensorState", this.sensorState);
    },
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
        console.log(this.submitStatus, this.$v.$model);
      } else {
        //submit logic here
        this.submitStatus = "PENDING";
        this.submitStatus = "OK";

        this.exposureState = true;
        this.sensorState = true;

        setTimeout(() => {
          //we delay slightly to allow the exposure pages to send data to parent, first.
          this.submitToServer();
        }, 600);
      }
    },

    submitToServer() {
    

     

      let userInputs = {
        sensorType: this.sensor,
        fileName: this.file[0].name,
        dataOwner: this.name,
        exposureType: this.exposureType,
        deviceSerialNumber: this.deviceSerialNumber,
        dataDistribution: this.distribution,
        exposureNotes: this.exposureNotes,
        exposureInputs: this.exposureInputs,
        msp1: (msp1 = [
          {
            sensorId: this.mspInputData.mspId,
            measurements: {
              freeCorrosionAlloy:
                this.mspInputData.alloyMeasurements.freeCorrosionAlloy,
              galvanicCorrosionAlloy:
                this.mspInputData.alloyMeasurements.galvanicCorrosionAlloy,
            },
            coatings: {
              coatingId: this.mspInputData.coatings.coatingId,
              coatingApplied: this.mspInputData.coatings.coatingApplied,
              goldCoating: this.mspInputData.coatings.goldCoating,
              preTreatment: this.mspInputData.coatings.preTreatment,
              primer: this.mspInputData.coatings.primer,
              topCoat: this.mspInputData.coatings.topCoat,
              coatingNotes: this.mspInputData.coatings.coatingNotes,
            },
          },
        ]),
        msp2: (msp2 = [
          {
            sensorId: this.msp2InputData.mspId,
            measurements: {
              freeCorrosionAlloy:
                this.msp2InputData.alloyMeasurements.freeCorrosionAlloy,
              galvanicCorrosionAlloy:
                this.msp2InputData.alloyMeasurements.galvanicCorrosionAlloy,
            },
            coatings: {
              coatingId: this.msp2InputData.coatings.coatingId,
              coatingApplied: this.msp2InputData.coatings.coatingApplied,
              goldCoating: this.msp2InputData.coatings.goldCoating,
              preTreatment: this.msp2InputData.coatings.preTreatment,
              primer: this.msp2InputData.coatings.primer,
              topCoat: this.msp2InputData.coatings.topCoat,
              coatingNotes: this.msp2InputData.coatings.coatingNotes,
            },
          },
        ]),
        msp3: (msp3 = [
          {
            sensorId: this.msp3InputData.mspId,
            measurements: {
              freeCorrosionAlloy:
                this.msp3InputData.alloyMeasurements.freeCorrosionAlloy,
              galvanicCorrosionAlloy:
                this.msp3InputData.alloyMeasurements.galvanicCorrosionAlloy,
            },
            coatings: {
              coatingId: this.msp3InputData.coatings.coatingId,
              coatingApplied: this.msp3InputData.coatings.coatingApplied,
              goldCoating: this.msp3InputData.coatings.goldCoating,
              preTreatment: this.msp3InputData.coatings.preTreatment,
              primer: this.msp3InputData.coatings.primer,
              topCoat: this.msp3InputData.coatings.topCoat,
              coatingNotes: this.msp3InputData.coatings.coatingNotes,
            },
          },
        ]),
        // all of the above fields are on this component.
      };

      //create new FormdData object to send to server
      //append the file and the user data
      let formData = new FormData();
      const sensorType = "corres";
      //append the csv file
      for (let files of this.file) {
        formData.append("file", files);
      }
      //get user inputs and return object based on sensor type
      formData.append("data", JSON.stringify(userInputs));
      formData.append("sensorType", JSON.stringify(sensorType));

      console.log(userInputs, this.submitStatus);

      //create axios post call to the API
      let publicApi = "http://10.10.31.223:9500/api/datafileupload/user-upload";
      let devApi = "https://localhost:7089/api/datafileupload/user-upload";
      this.axios
        .post(
          publicApi,
          formData,
          {
            headers: {
              "Content-Type": "application/json",
            },
          }
        )
        .then((response) => {
          console.log(response);
          if (response.status === 200) {
            alert(response.data);
            //maybe a timeout with a toast.. then reload

            setTimeout(() => {
              //we delay slightly to allow the exposure pages to send data to parent, first.
              location.reload();
            }, 500);
          } else {
            alert("File upload error.");
          }
        })
        .catch((error) => {
          alert(error);
        });
    },

    clear() {
      this.$v.$reset();
      this.name = "";
      this.exposureType = "";
      this.deviceSerialNumber = "";
      this.distribution = "";
      this.exposureNotes = "";
      this.exposureState = false;
      this.exposureInputs = {};
      this.$store.state.onAsset = false;
      this.$store.state.laboratory = false;
      this.$store.state.outDoor = false;
    },
  },

  watch: {
    coatingRadios: function () {
      if (this.coatingRadios == "coatingYes") {
        this.coating = !this.coating;
      } else this.coating = false;
    },
    exposureType: function () {
      console.log(this.exposureType);
      this.$store.commit("selectExposureType", this.exposureType);
    },
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Name must be at most 35 characters long");
      !this.$v.name.required &&
        errors.push("the data owner field is required.");
      return errors;
    },
    deviceSerialNumberErrors() {
      const errors = [];
      if (!this.$v.deviceSerialNumber.$dirty) return errors;
      !this.$v.deviceSerialNumber.required &&
        errors.push("the device serial number field is required.");
      return errors;
    },
    distributionErrors() {
      const errors = [];
      if (!this.$v.distribution.$dirty) return errors;
      !this.$v.distribution.required &&
        errors.push("the data distribution field is required.");
      return errors;
    },
    exposureTypeErrors() {
      const errors = [];
      if (!this.$v.exposureType.$dirty) return errors;
      !this.$v.exposureType.required &&
        errors.push("the exposure type field is required.");
      return errors;
    },
  },
  components: {
    coatings: require("@/components/shared/FormData/Common/Coatings.vue")
      .default,
    "acuity-cr-sensor1":
      require("@/components/shared/FormData/Common/AcuityCrSensor1.vue")
        .default,
    "acuity-cr-sensor2":
      require("@/components/shared/FormData/Common/AcuityCrSensor2.vue")
        .default,
    "acuity-cr-sensor3":
      require("@/components/shared/FormData/Common/AcuityCrSensor3.vue")
        .default,
    "ls-sensor-panel":
      require("@/components/shared/FormData/SensorMeasurements/LS_SensorPanel.vue")
        .default,
    "lab-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/LabExposureType.vue")
        .default,
    "outdoor-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/OutdoorExposureType.vue")
        .default,
    "on-asset-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/OnAssetExposureType.vue")
        .default,
  },
};
</script>

<style lang="sass">
.containerCr
    background-color: #0330fc
    border: 1px solid red
    width: 100%
    justify-content: center

.col1
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51)
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51)
    border-radius: 10px

.col2
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51)
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51)
    border-radius: 10px

.measurements
    width: 100%

.title
    background-color: #000000
    color: white
    border-radius: 10px

.CrsubmitAndClear
  width: 325px

  background-color: #E8E8F3
  color: white
  border-radius: 10px

.divider
  border-top: .5px solid #737578
</style>
