<template>
  <v-row justify="center">
    <v-dialog :value="true" persistent max-width="400px">
      <v-card>
        <v-card-title>
          <span class="text-h5" 
      
          >Add New  {{this.corrosionType}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col >
                <v-text-field
                  label="Type Here ..."   
                  required
                  v-model="corrosionValue"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$emit('close')">
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="saveCorrosionValue"
            :disabled="corrosionTitleInvalid"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: ["corrosionType"],
  data() {
    return {
      corrosionValue: "",
      corrosionTitle: null,
      alloyTitle: "",
    };
  },
  watch: {
    addNewValue: function () {
      if (this.addNewValue) {
        this.dialog = true;
      } else {
        this.addNewValue = false;
      }
    },
    corrosionType: function () {
      console.log(this.corrosionType)
    }
  },
  computed: {
    corrosionTitleInvalid() {
      if (this.corrosionValue.length <= 0) {
        return !this.corrosionTitle;
      }else{
        this.corrosionTitle = false
      }
    },
  },
  methods: {
    saveCorrosionValue() {
      let payload = {
        valueType: this.corrosionType,
        value: this.corrosionValue,
      };
      this.$store.dispatch("addCorrosionValue", payload);
      this.$emit("close");
    },
  },
};
</script>

<style></style>
