<template>
  <div>
    <v-container rounded class="coatings">
      <v-row>
        <v-col cols="12">
   
          <div class="caption text-decoration-underline goldIdeQ">
            <strong>Coating Applied to Gold IDE?</strong>
          </div>

          <v-radio-group
            class="radiosPlacement"
            @change="check($event)"
            v-model="goldCoatingRadios"
            row
            required
            value="goldCoatingIsTrue"
            v-on:change="emitToParent"
          >
            <v-radio  label="Yes" value="goldIdeYes"></v-radio>
            <v-radio label="No" value="goldIdeNo"></v-radio>
          </v-radio-group>
          <v-autocomplete
            v-model="preTreatment"
            v-on:blur="emitToParent"
            :items="$store.state.preTreatment"
            label="Pretreament"
            required
            multiple
            attach
            chips
            rounded
            background-color="grey lighten-5"
            color="#164BCF"
            class="text-caption"
          ></v-autocomplete>

          <v-autocomplete
            label="Primer"
            required
            rounded
            chips
            :items="$store.state.primer"
            v-model="primer"
            v-on:blur="emitToParent"
            background-color="grey lighten-5"
            color="#164BCF"
            class="text-caption"
          ></v-autocomplete>
          <v-autocomplete
            label="Topcoat / CPC"
            required
            rounded
            multiple
            attach
            chips
            :items="$store.state.topcoat"
            v-model="topcoat"
            v-on:blur="emitToParent"
            background-color="grey lighten-5"
            color="#164BCF"
            class="text-caption"
          ></v-autocomplete>
          <v-textarea
            name="coatingNotes"
            label="Coating Notes"
            auto-grow
            outlined
            rows="3"
            row-height="24"
            background-color="grey lighten-2"
            color="blue darken-1"
            class="text-caption"
            v-model="coatingNotes"
            v-on:blur="emitToParent"
          >
          </v-textarea>
        </v-col>
      </v-row>
    </v-container>
    <v-divider></v-divider>
  </div>
</template>

<script>
export default {
  data() {
    return {
      preTreatment: "",
      primer: "",
      topcoat: "",
      coatingNotes: "",
      goldCoatingRadios: null,

    };
  },
  methods: {
    check(e) {
      console.log(e);
    },
    emitToParent(event) {
      let coatings = {
        goldCoating: this.goldCoatingRadios,
        preTreatment: this.preTreatment,
        primer: this.primer,
        topcoat: this.topcoat,
        coatingNotes: this.coatingNotes,
      };
      this.$emit("passCoatingsToParent", coatings);
    },
  },
};
</script>

<style lang="sass">
.coatings
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51)
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51)
  background-color: #C6D5DF

.radiosPlacement
  margin-left: 15px

.goldIdeQ
  margin-bottom: -10px

</style>
