<template>
  <v-container fluid class="lsDgContainer">
    <form>
      <v-card flat elevation="4" max-width="1200" class="mx-auto pa-2">
        <v-card-text>
          <v-row class="pa-3">
            <v-col cols="4">
              <v-text-field
                v-model="name"
                :error-messages="nameErrors"
                :counter="35"
                label="Data Owner"
                required
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="deviceSerialNumber"
                :error-messages="deviceSerialNumberErrors"
                label="Device Serial Number"
                required
                @input="$v.deviceSerialNumber.$touch()"
                @blur="$v.deviceSerialNumber.$touch()"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="">
              <v-text-field
                v-model="sensorPanelId"
                label="Sensor Panel ID"
              ></v-text-field>
              <v-autocomplete
                v-model="distribution"
                :items="$store.state.dataDistribution"
                :error-messages="distributionErrors"
                label="Data Distribution"
                required
                @input="$v.distribution.$touch()"
                @blur="$v.distribution.$touch()"
              ></v-autocomplete>
            </v-col>
            <v-col cols="4" class="">
              <v-textarea
                name="exposureNotes"
                label="Exposure Notes"
                auto-grow
                outlined
                rows="4"
                row-height="30"
                background-color="grey lighten-2"
                color="cyan"
                v-model="exposureNotes"
              >
              </v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4" class="">
              <v-select
                v-model="exposureType"
                :items="types"
                :error-messages="exposureTypeErrors"
                label="Exposure Type"
                required
                @change="$v.exposureType.$touch()"
                @blur="$v.exposureType.$touch()"
              ></v-select>
              <lab-exposure-type
                v-if="$store.state.laboratory"
                :lab="exposureState"
                :yesexposuretypevalidation="yesExposureTypeValidation"
                @passLabExposureToParent="exposureOnSubmit"
              ></lab-exposure-type>
              <outdoor-exposure-type
                v-if="$store.state.outdoor"
                :outdoor="exposureState"
                :yesexposuretypevalidation="yesExposureTypeValidation"
                @passOutdoorExposureToParent="exposureOnSubmit"
              ></outdoor-exposure-type>
              <on-asset-exposure-type
                v-if="$store.state.onAsset"
                :onasset="exposureState"
                :yesexposuretypevalidation="yesExposureTypeValidation"
                @passOnAssetExposureToParent="exposureOnSubmit"
              ></on-asset-exposure-type>
            </v-col>
            <v-col cols="4" class="">
              <ls-sensor-panel
                v-if="lsSensor"
                :alloy="$store.state.sensorMeasurement"
                @passMeasurementsToParent="onMeasurementSubmit"
              ></ls-sensor-panel>
              <dg-sensor-panel
                v-if="dgSensor"
                :alloy="$store.state.sensorMeasurement"
                @passMeasurementsToParent="onMeasurementSubmit"
              ></dg-sensor-panel>
            </v-col>
            <v-col cols="4" class="">
              <v-radio-group
                v-model="coatingRadios"
                :error-messages="coatingErrors"
                @change="check($event)"
                @blur="$v.coatingRadios.$touch()"
                required
                row
                value="coatingIsTrue"
              >
                <template v-slot:label>
                  <div class="caption text-decoration-underline">
                    <strong>Coating Applied?</strong>
                  </div>
                </template>
                <v-radio label="Yes" value="coatingYes"></v-radio>
                <v-radio label="No" value="coatingNo"></v-radio>
              </v-radio-group>
              <!--   -->
              <coatings
                v-if="coating"
                @passCoatingsToParent="onChildKeyUp"
                class="mb-8"
              ></coatings>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row>
            <v-col cols="6" class="pa-4">
              <v-file-input
                show-size
                multiple
                small-chips
                label="File input"
                v-model="file"
                accept=".csv"
                @change="fileValidation"
                ref="refInput"
              ></v-file-input>

              <div class="submitAndClear d-flex justify-center pb-3">
                <v-btn color="success" class="mr-4" @click="submit">
                  submit
                </v-btn>
                <v-btn color="primary" @click="clear"> clear </v-btn>
              </div>
            </v-col>
            <v-col cols="6" class="mt-3" v-if="$store.state.outerLoading">
              <v-card class="mx-auto" outlined elevation="4">
                <v-list two-line>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>File Name: </v-list-item-title>
                      <v-list-item-subtitle
                        >{{ $store.state.FileName }}
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>File Id:</v-list-item-title>
                      <v-list-item-subtitle
                        >{{ $store.state.FileId }}
                        <v-tooltip slot="append" top>
                          <template v-slot:activator="{ on }">
                            <v-icon
                              @click="copyText"
                              v-on="on"
                              color="primary"
                              dark
                            >
                              mdi-content-copy
                            </v-icon>
                          </template>
                          <span>Copy File Id</span>
                        </v-tooltip>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-row>
                  <v-col cols="6">
                    <v-btn
                      color="primary"
                      class="ma-4 mr-4"
                      @click="reloadPage"
                    >
                      Done
                    </v-btn>
                  </v-col>
                  <v-col
                    v-if="$store.state.innerLoading"
                    class="text-subtitle-1 mt-4 text-center red--text"
                    cols="6"
                  >
                    Submitting Your Data
                  </v-col>
                  <v-col
                    v-if="$store.state.finishedLoading"
                    class="text-subtitle-1 text-center mt-4 success--text"
                    cols="6"
                  >
                    {{ $store.state.finishedLoadingMessage }}
                  </v-col>
                </v-row>

                <v-progress-linear
                  color="blue darken-1"
                  :active="$store.state.innerLoading"
                  :indeterminate="$store.state.innerLoading"
                  rounded
                  bottom
                  height="10"
                ></v-progress-linear>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </form>
  </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],

  props: ["sensor"],
  data() {
    return {
      name: "",
      deviceSerialNumber: "",
      exposureType: "",
      email: "",
      select: null,
      types: ["Laboratory", "Outdoor", "On Asset"],
      coatingInputs: {},
      exposureInputs: [],
      measurementInputs: {},
      measurements: [],
      coating: false,
      lsSensor: false,
      dgSensor: false,
      distribution: "",
      coatingRadios: null,
      sensorPanelId: "",
      exposureNotes: "",
      submitStatus: null,
      exposureState: false,
      yesExposureTypeValidation: false,
      file: null,
      info: null,
    };
  },
  validations: {
    name: { required, maxLength: maxLength(35) },
    distribution: { required },
    deviceSerialNumber: { required },
    exposureType: { required },
    coatingRadios: { required },
  },
  async mounted() {
    if (this.sensor == "acuity_ls") this.lsSensor = true;
    if (this.sensor == "acuity_dg") this.dgSensor = true;
  },

  watch: {
    coatingRadios: function () {
      if (this.coatingRadios == "coatingYes") {
        this.coating = !this.coating;
      } else this.coating = false;
    },
    exposureType: function () {
      this.$store.commit("selectExposureType", this.exposureType);
      this.yesExposureTypeValidation = true;
    },
  },
  computed: {
    coatingErrors() {
      const errors = [];
      if (!this.$v.coatingRadios.$dirty) return errors;
      !this.$v.coatingRadios.required &&
        errors.push("coating selection must be made!");
      return errors;
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Name must be at most 35 characters long");
      !this.$v.name.required &&
        errors.push("the data owner field is required.");
      return errors;
    },
    distributionErrors() {
      const errors = [];
      if (!this.$v.distribution.$dirty) return errors;
      !this.$v.distribution.required &&
        errors.push("the data distribution field is required.");
      return errors;
    },
    deviceSerialNumberErrors() {
      const errors = [];
      if (!this.$v.deviceSerialNumber.$dirty) return errors;
      !this.$v.deviceSerialNumber.required &&
        errors.push("the device serial number field is required.");
      return errors;
    },
    exposureTypeErrors() {
      const errors = [];
      if (!this.$v.exposureType.$dirty) return errors;
      !this.$v.exposureType.required &&
        errors.push("the exposure type field is required.");
      return errors;
    },
  },
  methods: {
    reloadPage() {
      location.reload();
    },
    copyText() {
      navigator.clipboard.writeText(this.$store.state.lastInsertedId);
    },
    check(e) {
      console.log(e);
    },
    addAlloy(e) {
      alert(e);
    },
    //Temporarily here because I've not been able to figure out the file validation needed yet.
    fileValidation(e) {
      var line,
        word,
        abort = false;
      if (e[0].name != null && e[0].name.split(".").pop() != "csv") {
        alert("Please select CSV file type");
        this.$refs.refInput.reset();
      } else {
        var file = e[0];
        var reader = new FileReader();
        let store = this;
        reader.onload = function () {
          var fileContentArray = this.result.split(/\r\n|\n/);

          for (line = 0; line < fileContentArray.length - 1 && !abort; line++) {
            //split string
            let row = fileContentArray[line].split(",");
            for (word = 0; word < row.length && !abort; word++) {
              if (row[word].startsWith("MSP") || row.length > 13) {
                reader.abort();
                abort = true;
                alert(
                  "File not in the correct format. Are you sure the correct sensor file has been chosen? " +
                    row.length
                );

                //instead of clearing the file, create a file state that is only true when you set it here. Don't submit until it's satisfied
                store.$store.state.fileState = false;
              }
            }
          }
        };

        reader.readAsText(file);
      }
    },

    submit() {
      console.log(this.$store.state.fileState);
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
        console.log(this.submitStatus, this.$v.$model);
      } else {
        //submit logic here
        this.submitStatus = "PENDING";
        this.submitStatus = "OK";
        //need to set a clear on this because if the user resubmits .. it causes an eror

        this.exposureState = true;
        this.$store.state.sensorMeasurement = true;
        if (this.coatingRadios === "coatingNo") this.coatingInputs = "none";

        setTimeout(() => {
          //we delay slightly to allow the exposure pages to send data to parent, first.
          this.submitToServer();
        }, 500);
      }
    },
    submitToServer() {
      //create new FormdData object to send to server
      //append the file and the user data
      let formData = new FormData();

      //append the csv file
      for (let files of this.file) {
        formData.append("file", files);
      }
      //get user inputs and return object based on sensor type
      const userInputs = this.inputTypes(this.sensor);
      console.log(userInputs);
      formData.append("data", JSON.stringify(userInputs));
      formData.append("sensorType", JSON.stringify(userInputs.sensorType));

      this.$store.dispatch("showLoader");
      //create axios post call to the API
     
      let publicApi = 'http://10.10.32.109:9000/Luna-api/';
      let devApi = "https://localhost:7089/Luna-api/datafileupload/user-upload";
      this.axios
        .post(publicApi+'datafileupload/user-upload', formData, {
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then((response) => {
          console.log(response);
          if (response.status === 200) {
            //dispatch action to change id state
            this.$store.dispatch("getLastInsertedId", response.data);
          } else {
            alert(response.data);
          }
        })
        .catch((error) => {
          alert(error.response.data);
        });
    },

    clear() {
      this.$v.$reset();
      this.name = "";
      this.distribution = "";
      this.deviceSerialNumber = "";
      this.exposureType = "";
      this.coatingRadios = null;
      this.sensorPanelId = "";
      this.file = null;
      this.$store.state.freeCorrosionAlloy = "";
      this.$store.state.galvanicCorrosionAlloy = "";
      this.$store.state.galvanicCorrosionAlloy_2 = "";
      this.$store.state.onAsset = false;
    },
    exposureOnSubmit(input) {
      if (this.exposureType === "Laboratory") {
        if (input.isStandard) {
          this.exposureInputs.push(
            this.exposureType,
            input.isStandard.toString(),
            input.standardNumber
          );
        } else {
          this.exposureInputs.push(
            this.exposureType,
            input.isStandard.toString()
          );
        }
      } else if (this.exposureType === "Outdoor") {
        this.exposureInputs.push(
          this.exposureType,
          input.exposureLocation,
          input.radioInputs
        );
      } else {
        if (input.radioInputs === "On Aircraft") {
          this.exposureInputs.push(
            this.exposureType,
            input.assetBaseLocation,
            input.devicePosition,
            input.radioInputs,
            input.aircraftPlatform,
            input.tailNumber
          );
        } else {
          this.exposureInputs.push(
            this.exposureType,
            input.assetBaseLocation,
            input.devicePosition,
            input.radioInputs,
            input.assetId
          );
        }
      }
    },

    onChildKeyUp(coatings) {
      //Coatings is an object coming from the coatings components
      //Fired when coatings check box is checked
      this.coatingInputs = {
        coatingApplied: this.coatingRadios,
        goldCoating: coatings.goldCoating,
        preTreatment: coatings.preTreatment,
        primer: coatings.primer,
        topCoat: coatings.topcoat,
        coatingNotes: coatings.coatingNotes,
      };
    },
    onMeasurementSubmit(measurements) {
      if (this.sensor === "acuity_ls") {
        this.$store.state.measurementInputs = {
          freeCorrosionAlloy: measurements.freeCorrosionAlloy,
          galvanicCorrosionAlloy: measurements.galvanicCorrosionAlloy,
        };
        this.measurements.push(
          this.$store.state.measurementInputs.freeCorrosionAlloy,
          this.$store.state.measurementInputs.galvanicCorrosionAlloy
        );
      } else if (this.sensor === "acuity_dg") {
        this.$store.state.measurementInputs = {
          galvanicCorrosionAlloy: measurements.galvanicCorrosionAlloy,
          galvanicCorrosionAlloy_2: measurements.galvanicCorrosionAlloy_2,
        };
        this.measurements.push(
          this.$store.state.measurementInputs.galvanicCorrosionAlloy,
          this.$store.state.measurementInputs.galvanicCorrosionAlloy_2
        );
      }
    },
    inputTypes(sensorType) {
      if (this.sensorPanelId === null || this.sensorPanelId === "") {
        this.sensorPanelId = "None";
      }
      let userInputs = {};

      if (sensorType === "acuity_ls") {
        userInputs = {
          sensorType: this.sensor,
          fileName: this.file[0].name,
          dataOwner: this.name,
          deviceSerialNumber: this.deviceSerialNumber,
          sensorId: this.sensorPanelId,
          dataDistribution: this.distribution,
          exposureType: this.exposureType,
          exposureNotes: this.exposureNotes,
          coatingApplied: this.coatingRadios,
          coatingNotes: this.coatingInputs.coatingNotes,
          goldCoating: this.coatingInputs.goldCoating,
          preTreatment: this.coatingInputs.preTreatment,
          primer: this.coatingInputs.primer,
          topcoat: this.coatingInputs.topCoat,
          exposureInputs: this.exposureInputs,
          measurements: this.measurements,
        };
      } else {
        userInputs = {
          sensorType: this.sensor,
          fileName: this.file[0].name,
          dataOwner: this.name,
          deviceSerialNumber: this.deviceSerialNumber,
          sensorId: this.sensorPanelId,
          dataDistribution: this.distribution,
          exposureType: this.exposureType,
          exposureNotes: this.exposureNotes,
          coatingApplied: this.coatingRadios,
          coatingNotes: this.coatingInputs.coatingNotes,
          goldCoating: this.coatingInputs.goldCoating,
          preTreatment: this.coatingInputs.preTreatment,
          primer: this.coatingInputs.primer,
          topcoat: this.coatingInputs.topCoat,
          exposureInputs: this.exposureInputs,
          measurements: this.measurements,
        };
      }
      return userInputs;
    },
  },
  components: {
    coatings: require("@/components/shared/FormData/Common/Coatings.vue")
      .default,
    "form-title": require("@/components/shared/FormData/FormTitle.vue").default,
    "ls-sensor-panel":
      require("@/components/shared/FormData/SensorMeasurements/LS_SensorPanel.vue")
        .default,
    "dg-sensor-panel":
      require("@/components/shared/FormData/SensorMeasurements/DG_SensorPanel.vue")
        .default,
    "lab-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/LabExposureType.vue")
        .default,
    "outdoor-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/OutdoorExposureType.vue")
        .default,
    "on-asset-exposure-type":
      require("@/components/shared/FormData/ExposureTypeAssets/OnAssetExposureType.vue")
        .default,
  },
};
</script>

<style lang="sass">
.lsDgContainer
  justify-content: center


.submitAndClear
  width: 250px

.lsDgCols
  border: 1px solid red
</style>
