<template>
  <div>
    <v-card flat elevation="4" class="mx-auto mt-12 mb-4" max-width="70%">
      <v-card-title class="justify-center" color="primary"
        >Select Sensor Device</v-card-title
      >
      <v-card-text>
        <v-container fluid>
          <v-row class="mx-auto">
            <v-col cols="2" class="mx-auto">
              <v-checkbox
                label="LS"
                color="primary"
                value="acuity_ls"
                v-model="checkedSensor"
                @change="check($event)"
                hide-details
              ></v-checkbox>
            </v-col>
            <v-col cols="2" class="mx-auto">
              <v-checkbox
                label="LS-DG"
                color="primary"
                value="acuity_dg"
                v-model="checkedSensor"
                @change="check($event)"
                hide-details
              ></v-checkbox>
            </v-col>
            <v-col cols="2" class="mx-auto">
              <v-checkbox
                label="CR"
                color="primary"
                value="acuity_cr"
                v-model="checkedSensor"
                @change="check($event)"
                hide-details
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  
  <div>
     <acuity-ls
      v-if="lsSensor"
      :sensor="checkedSensor"
      class="acuityContainer"
    ></acuity-ls>
    <acuity-dg
      v-if="dgSensor"
      :sensor="checkedSensor"
      class="acuityContainer"
    ></acuity-dg>
    <acuity-cr
      v-if="crSensor"
      :sensor="checkedSensor"
      class="acuityContainer"
    ></acuity-cr>
  </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      checkedSensor: "",
      lsSensor: false,
      dgSensor: false,
      crSensor: false,
    };
  },
  async mounted() {
    //this is a get call done at the top of the component list. ensuring it's only run once versus multiple hits to the db
    await this.$store.dispatch("getCorrosionValues");
  },
  methods: {
    check: function (e) {
      this.showDeviceComponent(e);
    },
    showDeviceComponent(e) {
      if (e == "acuity_ls") {
        this.lsSensor = true;
        this.crSensor = false;
        this.dgSensor = false;
      } else if (e == "acuity_dg") {
        this.dgSensor = true;
        this.lsSensor = false;
        this.crSensor = false;
      } else {
        this.crSensor = true;
        this.dgSensor = false;
        this.lsSensor = false;
      }
    },

  },
  components: {
    "acuity-ls": require("@/components/shared/FormData/Common/AcuityLS.vue")
      .default,
    "acuity-dg": require("@/components/shared/FormData/Common/AcuityDG.vue")
      .default,
    "acuity-cr": require("@/components/shared/FormData/Common/AcuityCR.vue")
      .default,
  },

};
</script>

<style>
.fileInputClass {
  background-color: #d9dee0;
  height: 100%;
  top: 0;
  border: 1px solid red;
}

.acuityContainer {
  box-shadow: 10px 10px 5px grey;
  background-color: #0e0c38;
}
</style>
