<template>
     <v-card flat elevation="4" class=" mt-12 mb-4" max-width="40%">
      <v-card-title class="justify-center" color="primary"
        >Select Sensor Device</v-card-title
      >
      <v-card-text>
        <v-container fluid>
          <v-row class="mx-auto">
            <v-col cols="2" class="mx-auto">
              <v-checkbox
                label="LS"
                color="primary"
                value="acuity_ls"
                v-model="checkedSensor"
                @change="check($event)"
                hide-details
              ></v-checkbox>
            </v-col>
            <v-col cols="2" class="mx-auto">
              <v-checkbox
                label="LS-DG"
                color="primary"
                value="acuity_dg"
                v-model="checkedSensor"
                @change="check($event)"
                hide-details
              ></v-checkbox>
            </v-col>
            <v-col cols="2" class="mx-auto">
              <v-checkbox
                label="CR"
                color="primary"
                value="acuity_cr"
                v-model="checkedSensor"
                @change="check($event)"
                hide-details
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
</template>

<script>
export default {

}
</script>

<style>

</style>