<template>
  <v-container class="dataContainer">
    <v-card class="mt-4 pa-5">
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          :loading="fetchingData"
          loading-text="Loading... Please wait"
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="this.tableData" :search="search">
        <template v-slot:item.actions="{ item }">
          <v-icon small @click="deleteItem(item)" color="red" >
            mdi-delete
          </v-icon>
        </template>

        <template v-slot:item.csv="{ item }">
          <v-icon small @click="createCsv(item)" color="green" :loading="csvLoading">
            mdi-microsoft-excel
          </v-icon>
          <v-progress-circular v-if="csvLoading"
            indeterminate
            color="primary"
            small
          ></v-progress-circular>
        </template>
      </v-data-table>
      <v-dialog v-model="dialogDelete" max-width="500px">
        <v-card>
          <v-card-title class="text-h5"
            >Are you sure you want to delete this item?</v-card-title
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeDelete"
              >Cancel</v-btn
            >
            <v-btn color="blue darken-1" text @click="deleteItemConfirm"
              >OK</v-btn
            >
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
     csvLoading: false,
      dialogDelete: false,
      fetchingData: true,
      sensorData: {},
      search: "",
      headers: [
        {
          text: "Sensor Type",
          align: "start",
          filterable: true,
          value: "SensorType",
        },
        { text: "Data Owner", filterable: true, value: "DataOwner" },
        { text: "Device Serial Number", value: "DeviceSerialNumber" },
        { text: "Date Inserted", value: "DateInserted" },
        { text: "Delete Data", value: "actions", align: "center" },
        { text: "Export CSV", value: "csv", align: "center" },
        { text: "Id", value: "Id", align: " d-none" },
      ],
      tableData: [],
    };
  },
  async mounted() {
    await this.$store.dispatch("getDataTableOperations");
    this.tableData = this.$store.state.tableDataOptions;
    this.fetchingData = false;
  },
  methods: {
    deleteItem(item) {
      this.sensorData = {
        Id: item.Id,
      };
      this.dialogDelete = true;
    },
    async deleteItemConfirm() {
      await this.$store.dispatch("deleteSensorData", this.sensorData);
      this.closeDelete();
      location.reload();
    },
    closeDelete() {
      this.dialogDelete = false;
    },
    async createCsv(item) {
    this.csvLoading = !this.csvLoading
      await this.$store.dispatch("createCsv", item);
      this.csvLoading = !this.csvLoading
      console.log(item);
    },
  },
};
</script>

<style lang="sass">
.dataContainer
  max-width: 1200px
  border-bottom: 1px solid red
</style>
