<template>
  <div>
    <v-container
      fluid
      class="standardMethod"
      v-if="this.yesexposuretypevalidation"
    >
      <v-radio-group
        rounded
        v-model="radios"
        row
        :error-messages="exposureTypeErrors"
        required
        @change="$v.radios.$touch()"
        @blur="$v.radios.$touch()"
        class="justify-space-around"
      >
        <template v-slot:label>
          <div class="subtitle-2 caption text-decoration-underline">
            <strong>Standard Test Method?</strong>
          </div>
        </template>
        <v-radio label="Yes" value="standardMethod_Yes"></v-radio>
        <v-radio label="No" value="standardMethod_No"></v-radio>
      </v-radio-group>
      <v-text-field
        v-if="this.isStandardMethod"
        v-model="standardNum"
        label="Organization and Standard Number"
        class="text-caption primary--text"
        required
      ></v-text-field>
    </v-container>
    <v-container
      fluid
      class="standardMethod"
      v-if="this.noexposuretypevalidation"
    >
      <v-radio-group rounded v-model="radios" row class="justify-space-around">
        <template v-slot:label>
          <div class="subtitle-2 caption text-decoration-underline">
            <strong>Standard Test Method?</strong>
          </div>
        </template>
        <v-radio label="Yes" value="standardMethod_Yes"></v-radio>
        <v-radio label="No" value="standardMethod_No"></v-radio>
      </v-radio-group>
      <v-text-field
        v-if="this.isStandardMethod"
        v-model="standardNum"
        label="Organization and Standard Number"
        class="text-caption primary--text"
        required
      ></v-text-field>
    </v-container>
    <v-divider class="mb-6"></v-divider>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: [
    "lab",
    "datafromlab",
    "yesexposuretypevalidation",
    "noexposuretypevalidation",
  ],
  data() {
    return {
      sensor: "",
      radios: null,
      isStandardMethod: null,
      standardNum: "",
    };
  },

  watch: {
    radios: function () {
      if (this.radios == "standardMethod_Yes") {
        this.isStandardMethod = !this.isStandardMethod;
      } else {
        this.isStandardMethod = false;
      }
    },
    lab: function () {
      if (this.lab) {
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          let resubmit = false;
          this.$emit("exposureIsFalse", resubmit);
          console.log(this.submitStatus, this.$v.$model);
        } else {
          let exposureInputs = {
            radioInputs: this.radios,
            standardNumber: this.standardNum,
            isStandard: this.isStandardMethod,
          };
          this.$emit("passLabExposureToParent", exposureInputs);
        }
      }
    },
    datafromlab: function () {
      if (this.datafromlab) {
        let exposureInputs = {
          radioInputs: this.radios,
          standardNumber: this.standardNum,
          isStandard: this.isStandardMethod,
        };
        this.$emit("passLabExposureToParent", exposureInputs);
         exposureInputs = {};
      }
    },
  },
  validations: {
    radios: { required },
  },
  computed: {
    exposureTypeErrors() {
      const errors = [];
      if (!this.$v.radios.$dirty) return errors;
      !this.$v.radios.required && errors.push("test method must be selected!");
      return errors;
    },
  },
};
</script>

<style lang="sass"></style>
