<template>
  <div>
    <v-container fluid class="outdoorMethod" v-if="this.yesexposuretypevalidation">
      <v-text-field
        v-model="assetBaseLocation"
        label="Asset Base Location"
        class="text-caption primary--text"
        required
        :error-messages="assetBaseLocationErrors"
        @change="$v.assetBaseLocation.$touch()"
        @blur="$v.assetBaseLocation.$touch()"
      ></v-text-field>
      <v-text-field
        v-model="devicePosition"
        label="Device Position"
        class="text-caption primary--text"
        required
        :error-messages="devicePositionErrors"
        @change="$v.devicePosition.$touch()"
        @blur="$v.devicePosition.$touch()"
      ></v-text-field>
      <v-radio-group
        rounded
        v-model="radios"
        :error-messages="radiosErrors"
        @change="$v.radios.$touch()"
        @blur="$v.radios.$touch()"
        row
        class="justify-space-around ml-12"
      >
        <template v-slot:label>
          <div class="caption text-decoration-underline">
            <strong>On Aircraft?</strong>
          </div>
        </template>
        <v-radio label="Yes" value="On Aircraft"></v-radio>
        <v-radio label="No" value="Not On Aircraft"></v-radio>
      </v-radio-group>
      <div v-if="isOnAirCraft">
        <v-text-field
          v-model="aircraftPlatform"
          label="Aircraft Platform"
          class="text-caption primary--text"
          required
          outlined
        ></v-text-field>
        <v-text-field
          v-model="tailNumber"
          label="Tail Number"
          class="text-caption primary--text"
          required
          outlined
        ></v-text-field>
      </div>
      <div v-if="!isOnAirCraft && radios == 'Not On Aircraft'">
        <v-text-field
          v-model="assetId"
          label="Asset Identifier"
          class="text-caption primary--text"
          required
          outlined
        ></v-text-field>
      </div>
    </v-container>
    <v-container fluid class="outdoorMethod" v-if="this.noexposuretypevalidation">
      <v-text-field
        v-model="assetBaseLocation"
        label="Asset Base Location"
        class="text-caption primary--text"
  
      ></v-text-field>
      <v-text-field
        v-model="devicePosition"
        label="Device Position"
        class="text-caption primary--text"
       
      ></v-text-field>
      <v-radio-group
        rounded
        v-model="radios"
        row
        class="justify-space-around ml-12"
      >
        <template v-slot:label>
          <div class="caption text-decoration-underline">
            <strong>On Aircraft?</strong>
          </div>
        </template>
        <v-radio label="Yes" value="On Aircraft"></v-radio>
        <v-radio label="No" value="Not On Aircraft"></v-radio>
      </v-radio-group>
      <div v-if="isOnAirCraft">
        <v-text-field
          v-model="aircraftPlatform"
          label="Aircraft Platform"
          class="text-caption primary--text"
   
          outlined
        ></v-text-field>
        <v-text-field
          v-model="tailNumber"
          label="Tail Number"
          class="text-caption primary--text"
   
          outlined
        ></v-text-field>
      </div>
      <div v-if="!isOnAirCraft && radios == 'Not On Aircraft'">
        <v-text-field
          v-model="assetId"
          label="Asset Identifier"
          class="text-caption primary--text"

          outlined
        ></v-text-field>
      </div>
    </v-container>
    <v-divider class="mb-6"></v-divider>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: ["onasset", "dataonasset", "yesexposuretypevalidation", "noexposuretypevalidation"],
  data() {
    return {
      assetBaseLocation: "",
      devicePosition: "",
      radios: null,
      isOnAirCraft: false,
   
      errorIsActive: false,
      aircraftPlatform: "",
      tailNumber: "",
      assetId: "",
 
    };
  },

  created() {
    this.isOnAirCraft = false;
  },
  watch: {
    radios: function () {
      if (this.radios == "On Aircraft" || this.radios === "") {
        this.isOnAirCraft = !this.isOnAirCraft;
      }
       else {
        this.isOnAirCraft = false;
      }
    },

    dataonasset: function () {
      if(this.dataonasset){
        let exposureInputs = {};
          if (this.isOnAirCraft) {
            exposureInputs = {
              assetBaseLocation: this.assetBaseLocation,
              devicePosition: this.devicePosition,
              radioInputs: this.radios,
              aircraftPlatform: this.aircraftPlatform,
              tailNumber: this.tailNumber,
              assetId: this.assetId,
            };
          } else {
            exposureInputs = {
              assetBaseLocation: this.assetBaseLocation,
              devicePosition: this.devicePosition,
              radioInputs: this.radios,
              assetId: this.assetId,
            };
          }
          this.$emit("passOnAssetExposureToParent", exposureInputs);
          exposureInputs = {};
      }
    },
    onasset: function () {
      if (this.onasset) {
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          let resubmit = false;
          this.$emit("exposureIsFalse", resubmit);
          console.log(this.submitStatus, this.$v.$model);
        } else {
        
          let exposureInputs = {};
          if (this.isOnAirCraft) {
            exposureInputs = {
              assetBaseLocation: this.assetBaseLocation,
              devicePosition: this.devicePosition,
              radioInputs: this.radios,
              aircraftPlatform: this.aircraftPlatform,
              tailNumber: this.tailNumber,
              assetId: this.assetId,
            };
          } else {
            exposureInputs = {
              assetBaseLocation: this.assetBaseLocation,
              devicePosition: this.devicePosition,
              radioInputs: this.radios,
              assetId: this.assetId,
            };
          }
          this.$emit("passOnAssetExposureToParent", exposureInputs);
        }
      }
    },
  },
  validations: {
    assetBaseLocation: { required },
    devicePosition: { required },
    radios: { required },
  },

   computed: {
    assetBaseLocationErrors() {
      const errors = [];
      if (!this.$v.assetBaseLocation.$dirty) return errors;
      !this.$v.assetBaseLocation.required &&
        errors.push("asset base location field is required.");
      return errors;
    },
    devicePositionErrors() {
      const errors = [];
      if (!this.$v.devicePosition.$dirty) return errors;
      !this.$v.devicePosition.required &&
        errors.push("device position field is required.");
      return errors;
    },
    radiosErrors() {
      const errors = [];
      if (!this.$v.radios.$dirty) return errors;
      !this.$v.radios.required && errors.push("yes or no must be selected!");
      return errors;
    },
  },
};
</script>

<style lang="sass">
  .error
    border: 1px solid red
  
</style>
