<template>
  <div>
    <v-container fluid class="outdoorMethod" v-if="this.yesexposuretypevalidation">
      <v-text-field
        v-model="exposureLocation"
        label="Exposure Location"
        class="text-caption primary--text"
        required
        :error-messages="exposureLocationErrors"
        @change="$v.exposureLocation.$touch()"
        @blur="$v.exposureLocation.$touch()"
      ></v-text-field>
      <v-radio-group
        rounded
        v-model="radios"
        row
        :error-messages="exposureTypeErrors"
        required
        @change="$v.radios.$touch()"
        @blur="$v.radios.$touch()"
        class="justify-space-around "
      >
          <template v-slot:label>
            <div class="caption text-decoration-underline">
              <strong>Sheltered Or Unsheltered?</strong>
            </div>
          </template>

        <v-radio label="Yes" value="sheltered_Yes"></v-radio>
        <v-radio label="No" value="sheltered_No"></v-radio>
      </v-radio-group>
    </v-container>
    <v-container fluid class="outdoorMethod" v-if="this.noexposuretypevalidation">
      <v-text-field
        v-model="exposureLocation"
        label="Exposure Location"
        class="text-caption primary--text"
      ></v-text-field>
      <v-radio-group
        rounded
        v-model="radios"
        row
        class="justify-space-around "
      >
          <template v-slot:label>
            <div class="caption text-decoration-underline">
              <strong>Sheltered Or Unsheltered?</strong>
            </div>
          </template>

        <v-radio label="Yes" value="sheltered_Yes"></v-radio>
        <v-radio label="No" value="sheltered_No"></v-radio>
      </v-radio-group>
    </v-container>
    <v-divider class="mb-6"></v-divider>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: ["outdoor", "dataoutdoor", "yesexposuretypevalidation", "noexposuretypevalidation"],
  data() {
    return {
      exposureLocation: "",
      radios: null,
    };
  },
  watch: {
    outdoor: function () {
      if (this.outdoor) {
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
          let resubmit = false;
          this.$emit("exposureIsFalse", resubmit);
          console.log(this.submitStatus, this.$v.$model);
        } else {
          let exposureInputs = {
            radioInputs: this.radios,
            exposureLocation: this.exposureLocation,
          };
          this.$emit("passOutdoorExposureToParent", exposureInputs);
        }
      }
    },
    dataoutdoor: function () {
      if(this.dataoutdoor){
         let exposureInputs = {
            radioInputs: this.radios,
            exposureLocation: this.exposureLocation,
          };
          this.$emit("passOutdoorExposureToParent", exposureInputs);
           exposureInputs = {};
      }
    }
  },
  validations: {
    radios: { required },
    exposureLocation: { required },
  },
  computed: {
    exposureTypeErrors() {
      const errors = [];
      if (!this.$v.radios.$dirty) return errors;
      !this.$v.radios.required && errors.push("yes or no must be selected!");
      return errors;
    },
    exposureLocationErrors() {
      const errors = [];
      if (!this.$v.exposureLocation.$dirty) return errors;
      !this.$v.exposureLocation.required &&
        errors.push("exposure location field is required.");
      return errors;
    },
  },
};
</script>

<style></style>
