<template>
  <div>
    <v-card flat elevation="4"  class=" mt-6 justify-center">
      <v-container  rounded>
        <v-row>
           <v-card-title class="justify-center" color="primary"> User Input </v-card-title>
        </v-row>
      </v-container>
     
    </v-card>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
