<template>
  <v-app id="inspire">
      <v-navigation-drawer v-model="drawer" app>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Enspect 
          </v-list-item-title>
          <v-list-item-subtitle>
            Tool Selection
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" :to="item.to" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

  

      <v-app-bar
      app
      dark
      color="primary"
      src="3959310.jpg"
      
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
        ></v-img>
      </template>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Enspect 2.0</v-toolbar-title>
    </v-app-bar>

    <v-main class="main">
      <!--  -->
      <router-view></router-view>
      <snackbar></snackbar>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    drawer: false,
     items: [
      { title: "File/User Input", icon: "mdi-file-account-outline", to: "/" },
      { title: "Data Visualization", icon: "mdi-chart-line", to: "/sensor-data" },
      { title: "Device Operations", icon: "mdi-file-table-box-multiple-outline", to: "/data-operations" },
    ],
  }),
    components:{
    'snackbar': require('@/components/shared/Snackbar.vue').default,
  }
};
</script>

<style lang="sass">
  .main
    background-color: #EEEEEE
</style>
